<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
@if(isOpen()){
  @if (size() !== 'fullscreen') {
    <div class="fixed inset-0 z-9998 bg-black/80 transition-all duration-300 js-back-drop"></div>
  }  
  <div cdkTrapFocus [cdkTrapFocusAutoCapture]="true" class="fixed inset-0 z-9999 overflow-y-auto">
    <div (click)="onBackdropClick($event)" tabindex="-1"
      class="flex min-h-full items-center justify-center p-4 text-center js-back-drop">

      <div
        role="dialog"
        class="
            bg-white dark:bg-slate-900
            border border-slate-200 dark:border-slate-800
            shadow-xl
            fixed
            top-1/2 left-1/2
            -translate-x-1/2 -translate-y-1/2
            p-4
            flex flex-col overflow-hidden
          "
        [class]="sizeClass()"
        [class.rounded-lg]="size() !== ALERT_SIZE_CLASS_MAP.fullscreen"
        tabindex="-1"
        style="pointer-events: auto;"
      >

        @if(showTitle()){
          <div class="shrink-0">
            <div class="flex items-center justify-center gap-4">
              <h2 class="flex-1 text-lg leading-none font-semibold text-slate-900 dark:text-white">
                {{ title() }}
              </h2>
              <button
                type="button"
                (click)="onCancel()"
                aria-label="Close dialog"
                class="
                  shrink-0
                  inline-flex items-center justify-center
                  w-8 h-8
                  rounded-md
                  text-slate-500 hover:text-slate-900
                  hover:bg-slate-100
                  dark:text-slate-400 dark:hover:text-white
                  dark:hover:bg-slate-800
                  transition-colors
                "
              >
                <lucide-angular name="x" class="size-5"></lucide-angular>
              </button>
            </div>

            @if(showSubTitle()){
              <div class="bg-slate-200 dark:bg-slate-800 h-px w-full m-2"></div>              
              <p class="text-left text-slate-900 dark:text-white">
                {{ subTitle() }}
              </p>              
            }
            <div class="bg-slate-200 dark:bg-slate-800 h-px w-full mt-2"></div>
          </div>
        }
        
        <div tabindex="0" class="sr-only"></div>

        <div class="flex gap-4 pt-2 min-h-0">
          @if(icon()){
            <div class=" text-slate-900 dark:text-white mb-2">
              <div class="border p-2 rounded-md">
                <lucide-angular [img]="icon()" class="size-9"></lucide-angular>
              </div>
            </div>
          }
          <div class="flex-1 min-h-0 overflow-y-auto max-h-[60dvh]">
            @if (isTemplate()) {
              <ng-container *ngTemplateOutlet="template(); context: context()"></ng-container>
            }
            @else if (isHtml()) {
              <div
                class="text-slate-600 dark:text-slate-400 overflow-auto"
                [innerHTML]="message()">
              </div>
            }
            @else {
              <p class="
                text-slate-600 dark:text-slate-400 text-left whitespace-pre-line 
                overflow-auto">
                {{ message() }}
              </p>
            }
          </div>
        </div>

        @if(showFooter()){
          <div class="shrink-0">
            <div class="bg-slate-200 dark:bg-slate-800 h-px w-full mb-2"></div>
            <div class="flex justify-center-safe gap-2">
              <button
                type="button"
                (click)="onCancel()"
                class="inline-flex items-center justify-center rounded-md text-sm font-medium transition-colors
                      bg-slate-900 dark:bg-slate-100
                      text-white dark:text-slate-900
                      hover:bg-slate-800 dark:hover:bg-slate-200
                      py-2 px-6">
                {{ literals()[0] }}
              </button>

              @if(showConfirmBtn()){
                <button
                  type="button"
                  (click)="onConfirm()"
                  class="inline-flex items-center justify-center rounded-md text-sm font-medium transition-colors
                        bg-slate-900 dark:bg-slate-100
                        text-white dark:text-slate-900
                        hover:bg-slate-800 dark:hover:bg-slate-200
                        py-2 px-6">
                  {{ literals()[1] }}
                </button>
              }
            </div>
          </div>
        }

      </div>

    </div>
  </div>
}