
<div class="inline-block">
  <button type="button" 
    [cdkMenuTriggerFor]="menu" 
    (cdkMenuOpened)="onMenuOpened()" 
    (click)="$event.stopPropagation()"
    class="relative flex h-8 w-7 items-center justify-center rounded-none transition-colors">
    <lucide-angular [img]="MenuIcon" class="size-4"></lucide-angular>
    @if (hasActiveFilters()) {
      <span class="absolute left-5 top-1 block h-2 w-2 rounded-sm bg-yellow-400"></span>
    }
  </button>

  <ng-template #menu>
    <div
      cdkMenu
        cdkTrapFocus 
        [cdkTrapFocusAutoCapture]="true"
        class="bg-white dark:bg-gray-800 border rounded shadow-lg w-56 p-2 flex flex-col gap-1 text-sm"
        >
      <div class="flex w-full items-center gap-2 border-b py-1 text-sm">
        <span class="flex-1 font-medium">{{ columnLabel() }}</span>

        @if (hasActiveFilters()) {
          <button (click)="clearFilters()"
            class="flex items-center gap-1 rounded px-1.5 py-0.5 text-xs">
            <lucide-angular [img]="TrashIcon" class="size-3"></lucide-angular>
            Limpiar
          </button>
        }

      </div>

      <div cdkMenuItem class="w-full">
        <label class="">
          <span class="mb-2 inline-block text-sm">Buscar</span>
          <input #inputRef 
            type="text"
            [ngModel]="text()" 
            (ngModelChange)="handleInputChange($event)"
            (keydown)="$event.stopPropagation()" 
            (click)="$event.stopPropagation()"
            class="w-full rounded border border-slate-200 p-1 text-sm outline-none" />
        </label>  
      </div>

      @if (!hideValues()) {
        <div class="flex w-full items-center text-sm mb-1">
          <span class="flex-1">Valores</span>
          @if (selected.length > 0) {
            <span class="text-xs text-slate-400">{{ selected().length }}/{{ values()!.length }}</span>
          }
        </div>

        <div class="h-44 flex-col overflow-y-auto rounded border border-gray-300 dark:border-gray-600 p-1">
          @for (value of orderedValues(); track value) {
            @if (value && value !== 'null') {
              <button 
                type="button" 
                cdkMenuItem 
                (cdkMenuItemTriggered)="handleCheckboxChange(value)"
                class=" w-full text-left
                  group flex px-2 py-2 gap-2 items-center rounded-md hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors 
                  disabled:opacity-50 disabled:hover:bg-transparent dark:disabled:hover:bg-transparent">
                  @if (selected().includes(value)) {
                    <lucide-angular [img]="CheckIcon" class="size-4"></lucide-angular>
                  } @else {
                    <div class="size-4"></div>
                  }
                  <span class="flex-1">
                    {{ value }}
                  </span>              
              </button>
            }
          }
        </div>
      }
    </div>
  </ng-template>

</div>