
<div 
  [attr.data-lng] = "i18n.langVersion()"
  class="flex flex-wrap gap-2 mt-2 border-b border-t py-1 mb-2 items-center">
  <!-- 
  ===================================================================================
  Información de registros
  ===================================================================================
  -->
  <div class="text-sm w-full md:hidden border-b">
    @if (sortedRows().length === 0) {
      {{ i18n.t('app-table.no-rows', { entity: entity }) }}
    } @else {
      {{ i18n.t('app-table.rows', { entity: entity, count: sortedRows().length }) }}
      @if (selected().size > 0) {
         {{ i18n.t('app-table.selected', { count: selected().size }) }}
      }
      <span class="inline-block float-end">
        {{ i18n.t('app-table.page', { page: currentPage(), total: totalPages()}) }}        
      </span>
    }
  </div>
  <!-- 
  ===================================================================================
  Botones estandart
  ===================================================================================
  -->
  <div class="w-full overflow-x-auto md:overflow-visible">
    <div class="flex items-center gap-2 w-full">
      <span class="hidden md:block flex-1 text-sm text-left">
        @if (sortedRows().length === 0) {
          {{ i18n.t('app-table.no-rows', { entity: entity }) }}
        } @else {
          {{ i18n.t('app-table.rows', { entity: entity, count: sortedRows().length }) }}
          @if (selected().size > 0) {
            {{ i18n.t('app-table.selected', { count: selected().size }) }}
          }
          <br />
          {{ i18n.t('app-table.page', { page: currentPage(), total: totalPages()}) }}
        }
      </span>
      <div class="flex items-center gap-2 w-max ml-auto">  
        <button class="tool-bar-button p-2! shrink-0" (click)="refresh()" [disabled]="waitingForRows">
          <lucide-icon name="refresh-ccw" />
        </button>
        <button class="tool-bar-button p-2! shrink-0" (click)="insert()">
          <lucide-icon name="plus" />
        </button>
        <button class="tool-bar-button p-2! shrink-0" (click)="deleteSelected()" [disabled]="selected().size === 0">
          <lucide-icon name="trash-2" />
        </button>
        <button class="tool-bar-button p-2! shrink-0" (click)="editSelected()" [disabled]="selected().size !== 1">
          <lucide-icon name="edit" />
        </button>
        <!-- 
        ===================================================================================
        Botones dinámicos
        ===================================================================================
        -->
        @for (btn of actionButtons(); track btn.key) {
          <button
            class="tool-bar-button p-2! shrink-0"
            [disabled]="!isButtonEnabled(btn)"
            (click)="handleOnButtonClick(btn)"
            [attr.title]="i18n.resolve(btn.label)"
          >
            @if (btn.icon) {
              <lucide-icon [name]="btn.icon" />
              <span class="hidden">
                {{ i18n.resolve(btn.label) }}
              </span>
            } @else {
              {{ i18n.resolve(btn.label) }}
            }
          </button>
        }
      <!-- </div> -->
      <!-- 
      ===================================================================================
      Botones navegación
      ===================================================================================
      -->
      <!-- <div class="flex items-center w-full md:w-auto justify-end md:justify-center"> -->
        <button class="tool-bar-button p-2! shrink-0" (click)="firstPage()" [disabled]="currentPage() === 1">
          <lucide-icon name="chevrons-left" />
        </button>
        <button class="tool-bar-button p-2! shrink-0" (click)="prevPage()" [disabled]="currentPage() === 1">
          <lucide-icon name="chevron-left" />
        </button>
        <input
          type="text"
          class="w-8 sm:w-10 h-9 text-center border-accent rounded"
          [value]="currentPage()"
          (change)="goToPage($event)"
          [min]="1"
          [max]="totalPages()"
        />
        <button class="tool-bar-button p-2! shrink-0" (click)="nextPage()" [disabled]="currentPage() === totalPages()">
          <lucide-icon name="chevron-right" />
        </button>
        <button class="tool-bar-button p-2! shrink-0" (click)="lastPage()" [disabled]="currentPage() === totalPages()">
          <lucide-icon name="chevrons-right" />
        </button>
        <!-- 
        ===============================================
        Menú contextual
        ===============================================
        -->
        <app-table-menu 
          [pageSize]="pageSize()"
          [selectedRows]="selected()"
          [rowsCount]="sortedRows().length"
          [columns]="columns"
          [visibleColumnIds]="visibleColumnIds()"
          [menuItems]="buttons"
          (toggleColumn)="handleToggleColumn($event)"
          (actionTriggered)="onAction($event)"
        />
      </div>
    </div>
  </div>
</div>

<!-- 
=========================================================================================================
TABLE 
=========================================================================================================
-->
<div class="overflow-x-auto">
  <table class="min-w-full divide-y divide-gray-200">
    <!-- 
    =====================================================================================================
    Cabeceras
    =====================================================================================================
    -->
    <thead class="">
      <tr>
        <th class="w-0 py-2">
          <div class="flex items-center justify-center h-full">
            <input
              type="checkbox"
              class="w-4 h-4 accent-gray-400  dark:accent-blue-700 cursor-pointer"
              [checked]="selected().size === sortedRows().length && sortedRows().length > 0"
              (change)="selectAll($event.target.checked)"
              [indeterminate]="
                selected().size > 0 &&
                selected().size < sortedRows().length
              "
            />            
          </div>
        </th>
        @for (col of visibleColumns(); track col.key) {
          <th
            [attr.data-selected]="sortedColumn() === col.key || null"
            [ngClass]="[
              'py-2 select-none',              
              col.sorter ? 'cursor-pointer' : '',
              col.sorter ? 'hover:text-blue-800' : '',
              col.sorter ? 'hover:dark:text-yellow-300' : '',
              col.className || ''
            ]"
            (click)="toggleSort(col)"
          >
            <div 
              [ngClass]="[           
                col.sorter ? 'flex items-center mr-2 gap-1.5' : '',
              ]"
              >
              <div class="flex-1 text-left">{{ i18n.resolve(col.title) }}</div>
              @if (sortedColumn() === col.key) {
                @if(sortDirection() === 'desc'){
                  <lucide-icon class="size-4" name="chevron-up" />                
                } @else if(sortDirection() === 'asc') {
                  <lucide-icon class="size-4" name="chevron-down" />
                } @else {
                  <div class="size-4"></div>
                }
              } @else if(col.sorter) {
                <div class="size-4"></div>  
              }
              @if (data().length > 0 && col.hideSeachButton !== true) {
                <app-table-column-filter
                  [columnLabel]="i18n.resolve(col.title)"
                  [values]="getUniqueValues(col)"
                  [hideValues]="col.hideValueSelection || false"
                  (changeFilter)="handleActiveFilters($event, col)"
                  [resetToken]="resetFilterToken()"
                />
              }
            </div>
          </th>
        }
      </tr>
    </thead>
    <!-- 
    =====================================================================================================
    Filas
    =====================================================================================================
    -->
    <tbody>
      @if (waitingForRows) {

      } @else {
        @for (row of pageRows(); track row.id; let i = $index) {
          <tr
            [attr.data-selected]="selected().has(row.id) || null"
            class="
              transition-colors
              odd:bg-white even:bg-gray-100
              dark:odd:bg-slate-900 dark:even:bg-slate-700/50
              hover:bg-gray-200 dark:hover:bg-slate-800
              hover:data-selected:bg-gray-200 dark:data-selected:hover:bg-slate-800
              data-selected:bg-blue-100
              dark:data-selected:bg-blue-900/40"
          >
            <td class="w-0 p-2">
              <div class="flex items-center justify-center h-full">
                <input
                  type="checkbox"
                  class="w-4 h-4 accent-gray-400 dark:accent-blue-700 cursor-pointer"
                  [checked]="selected().has(row.id)"
                  (change)="toggleRow(row.id, $event.target.checked)"
                />
              </div>
            </td>

            @for (col of visibleColumns(); track col.key) {
              @if (col.cellTemplate) {
                <td 
                  [ngClass]="[col.className || '']"
                  >
                  <ng-container
                    *ngTemplateOutlet="
                      col.cellTemplate;
                      context: { $implicit: row, column: col }
                    "
                  />                  
                </td>
              } @else {
                <td 
                  [ngClass]="[col.className || '']"
                  >
                  {{ resolveCellValue(col, row) }}
                </td>
              }
            }
          </tr>
        }
      }
    </tbody>
  </table>
</div>
